<h1>{{ geonames.geoname }}</h1>
<div><span>Geotype:</span><span>{{ geonames.geoobject_id.geotype_id.geotype_ru }}</span></div>
<div><span>Language:</span><span>{{ geonames.language_id }}</span></div>
<div><span>Translation:</span><span>{{ geonames.name_translation_ru }}</span></div>
<div><span>Motivation comment:</span><span>{{ geonames.motivation_comment }}</span></div>
<div><span>Linguistic means:</span><span>{{ geonames.linguistic_means }}</span></div>
<div><span>Source:</span><span>{{ geonames.source_id }}</span></div>
<div><span>Map:</span><span>{{ geonames.geoobject_id.map_id.area_name_ru }}</span></div>
<div><span>Motivation:</span><span>{{ geonames.motivation_id }}</span></div>
<div><span>Latitude:</span><span>{{ geonames.motivation_id }}</span></div>
